<div class="py-20">
    <div class="pb-20">
        <div class="grid grid-cols-7 gap-16">
            <div class="col-span-3 text-container flex justify-center items-center">
                {{> smartheading heading="What we do" description="Offering bespoke and tailored programs for SportsTech
                companies at all stages of development."}}
            </div>
            <div class="col-span-4 flex justify-center items-center">
                {{> slider}}
            </div>
            <div class="mt-44 absolute bg-green h-16 w-35p"></div>
        </div>
    </div>
    <div class="container flex flex-col gap-6">
        <div class="flex gap-6">
            {{> bigcard text="Digital Athlete"
            image="https://images.pexels.com/photos/6253340/pexels-photo-6253340.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"}}
            {{> smallcard text="Women" color="bg-green" }}
        </div>
        <div class="flex gap-10">
            {{> smallcard text="News & Insights" hex="#3E3A86" }}
            {{> bigcard text="Supporters"
            image="https://images.pexels.com/photos/260409/pexels-photo-260409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"}}
        </div>
    </div>
</div>
