<div class="relative flex flex-col justify-between items-start w-2/3 h-80 border rounded-lg p-10 bg-no-repeat bg-center"
    style="background-image: url('{{ image }}');">
    <div class="absolute inset-0 bg-red opacity-60 mix-blend-difference border-0 rounded-lg"></div>
    <h3 class="relative font-bold text-white uppercase text-4xl font-heading">{{ text }}</h3>
    <div class=" relative self-end">
        {{> button text="Find out more" }}
    </div>
</div>