<div class="w-full max-w-7xl">
	<div class="flex gap-6 overflow-hidden overflow-x-auto h-full">
		{{> slidercard icontype="far" icon="fa-lightbulb" heading="Start" description="By supporting startups with
		access to experienced mentors, and by connecting them with essential resources to help validate and grow, we are
		helping to build an ecosystem that can allow the portstech industry to thrive in Ireland." }}
		{{> slidercard icontype="far" icon="fa-circle-up" heading="Grow" description="We work with later state companies
		to enable them to identify, develop and execute effective go-to market strategies. Through engagement with
		investors, stakeholders, organisations and teams, we empower sportstech organisations to grow." }}
		{{> slidercard icontype="far" icon="fa-paper-plane" heading="Take-Off" description="We help established
		companies that want to move to the next level. By identifying pain points and matching participants with
		relevant expertise from our international panel of industry experts, we engage the sportstech network to help
		companies takeoff." }}
		{{> slidercard icontype="fas" icon="fa-briefcase" heading="Landing Zone" description="We work with overseas
		companies looking to locate in a sportstech cluster. We provide office space for your initial landing,
		connections into industry, academia, funding agencies, professional services and the sporting community in Limerick." }}
	</div>
	<i class="fas fa-arrow-left fa-2x text-black m-5"></i><i class="fas fa-arrow-right fa-2x text-black m-5"></i>
</div>