<div class="flex-shrink-0 space-y-10 p-9 w-80" style="background-color: #3E3A86;">
    <i class="{{ icontype }} {{ icon }} fa-3x text-white"></i>
    <h3 class="text-white uppercase text-3xl font-heading">{{ heading }}</h3>
    <p class="font-thin text-lg text-white titlecase poppins">{{ description }}</p>
</div>