<div class="w-full relative z-20 items-center space-y-6 mt-12">
	<h2 class="font-bold text-black text-7xl font-heading uppercase">{{ heading }}</h2>
	<p class="text-lg text-black titlecase">{{ description }}</p>
	<div class="flex space-x-6">
		{{> button text="Find out more" }}
	</div>
</div>